.nav{
    display: flex;
    justify-content: center; 
    margin:1.5rem 0 3rem 0;
  }
  .containerCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 3px solid #CBD4D9;
    border-bottom: 3px solid #CBD4D9;
    border-radius: .2rem;
    background-color: #D2DDE5;
    box-shadow: 0 0 .3rem 0 #cdd2d6;
    margin-bottom: 2rem;
}

.image{
    border-radius: 50%;
    box-shadow: 0 0 .5rem 0 #0e5c39;
}

.name {
    width:70%;
    padding: .5rem;
    border-radius: .3rem;
    background-color: #3e9bda;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: .5rem;
}

.species{
    width:70%;
    background-color:#91C0DF;
    padding: .5rem;
    border-radius: .3rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: .3rem;
}
.status{
    font-family: 'Roboto Flex', sans-serif;
    font-weight: bold;
}

.origin, .location{
    width:70%;
    background-color:#91C0DF;
    padding: .5rem;
    border-radius: .3rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: .3rem 0;
}

.containerStatus{
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: .5rem;
    height: 40px;
    background-color: #3e9bda;
    padding: 0 .5rem;
    border-radius: .3rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: bold;
}

.Alive{
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #29af30
}
.Dead{
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #CA2B18
}
.unknown{
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #424344
}
.containerBtn{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.button{
    padding: .5rem;
    border-radius: .3rem;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    background-color: #d7eaf7;
    color:#03162E;
    cursor: pointer;
    padding: 0.5rem 2rem
}
.button:hover {
    background-color: #c5d5e0;
}
.button:active{
    transform: scale(.99)
}

.header{
    width:100%;
    display:flex;
    justify-content: right;
    align-items: center;   
    margin-top: 2px;
    margin-bottom: .5rem;
}
.headerContainer{
    width:13%;
    display:flex;
    justify-content: right;
    align-items: center;
    padding: .4rem;
    border-radius: 100%;
    background-color: #8CC6EE
}