.container{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    gap:1.5rem
}
.input{
    padding: .7rem;
    border-radius: .3rem;
    border:none;
    margin: 1rem 0;
    width: 350px
}
.input:focus{
    outline: none;
}

.button{
    height: 38px;
    border-radius: .3rem;
    border: none;
    padding: .5rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: bold;
    background-color: #D6EAF8;
    cursor: pointer;
}
.button:hover{
    background-color: #f6f9fa;
}
.button:active{
    transform: scale(.99)
}