.nav{
    display:flex;
    justify-content:center;
}
.lista{
    width:75%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding: 8px;
    gap: 0.35rem; 
    background-image: linear-gradient(#6c7a83 , #222425);
    border-bottom-right-radius: 4px;
    border-radius: .3rem;
    margin: 1.2rem .5rem .5rem .5rem 
}

.li{
    list-style-type: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 2px solid #2C3E50;
    border-right: 2px solid #2C3E50;
    padding: 5px;
    font-size:13px;
    font-weight:600;
    background-color:#EAF2F8;
    color:#17202A;
    cursor: pointer;
}

.li:hover{
    background-color:#364b61;
    color:#f7f7f8;
    border-bottom: 2px solid #c6d0da;
    border-right: 2px solid #c6d0da;
    font-weight:500;
}