.gridCharacter{
    width:95%;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(230px, 1fr));
    gap: 1rem
  }

  .flexCharacter{
    margin: 2rem 0;
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 1rem
  }
  
  .nav{
    display: flex;
    justify-content: center; 
    margin:1rem 0
  }
  .img{
    width:400px;
  }

  @media only screen and (max-width: 500px) {
    .img{
        width: 300px
    }
    .gridCharacter{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
